body {
    background-color: #1A1A1A;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
}

header {
    margin: 20px 0;
}

#game-container {
    margin: 50px auto;
    padding: 20px;
    border: 2px solid var(--cor-destaque);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
}

button {
    padding: 10px 20px;
    background: var(--cor-primaria);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: var(--cor-secundaria);
}

#win-image {
    max-width: 100%; /* Para garantir que a imagem não ultrapasse o contêiner */
    height: auto;
}